@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
@import 'defaults.css';
@import 'nav.css'; /* nav */
@import 'modal.css';

/* 404 */
.four-o-four p {
    color: var(--text-gray);
    margin-top: 0.5em;
}

/* #app > main {
    display: block;
}

#surprise-planner {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    font-size: 1.25em;
}
.surprise {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    border: 1px solid var(--not-quite-black);
    color: var(--text-gray);
}
.surprise.actief {
    color: black;
    background-color: var(--primary-blue-shade);
}
.surprise:not(:first-of-type) {
    border-top: none;
}
.surprise:first-of-type {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.surprise:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


#nieuwe-surprise {
    display: flex;
}

@media (min-width: 700px) {
    #app > main {
        width: 100%;
        max-width: 800px;
    }
} */